{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block static_block %}
    <link rel="stylesheet" href="{% static 'item.css' %}">
    <link rel="stylesheet" href="{% static 'lightbox2-dev/src/css/lightbox.css' %}">

{% endblock %}

{% block content %}
    <div class="main-item" >
        <div class="main-item__img">
            <div id="sync1" class="owl-carousel owl-theme">
               {% for i in product.images.all %}
                <div class="item">
                    <a href="{{ i.image.url }}" data-lightbox="image-1" data-title="My caption 1"><img src="{{ i.image.url }}" alt=""></a>
                </div>
                {% endfor %}


            </div>

            <div id="sync2" class="owl-carousel owl-theme">
                {% for i in product.images.all %}
                <div class="item">
                    <img src="{{ i.image.url }}" alt="">
                </div>
                {% endfor %}

            </div>
            
        </div>
        <div class="main-item__description">
            <div class="main-item__description-title">
                {{ product.name }}
            </div>
            <div class="main-item__description-dop">
                <div class="main-item__description-dop__item">
                    <span>Добавлено:</span><div class="art"> {{ product.created_at }}</div>
                </div>
                <div class="main-item__description-dop__item">
                    <span>Категория:</span> <a href="{% url 'shop:product_list' %}?search=&category={{ product.category.slug }}&pricefrom=0&priceto=99999">{{ product.category.name }}</a>
                </div>

            </div>
            <div class="main-item__description-price">
                
                <div class="main-item__description-price__price"style="display: flex;margin-right: 2vw;">
                    <div id="calculation" >{{ product.price|intcomma }}</div><div class="" style="margin-left: 0.5vw;"> ₽</div>
                </div>
                
                <div class="main-item__description-price__conter">
                    <div class="minus"id="buttonCountMinus"style="cursor: pointer;">-</div>
                    <div class="count" id="buttonCountNumber">1</div>
                    <div class="plus"id='buttonCountPlus' style="cursor: pointer;">+</div>
                    <form action="{% url 'cart:cart_add' %}" method="Get" id='addForm'>
                    <input type="hidden" value="1" id="quantity" name="quantity">
                    <input type="hidden" value="{{ product.pk }}" name="product_id">
                    </form>
                </div>
                
            </div>
            <div class="main-item__description-btn" onclick="document.getElementById('addForm').submit();">
                <div class="btn__wrapper">
                    В карзину
                </div>
            </div>
            <div class="main-item__description-description">
                <div class="main-item__description-description__title">
                    Дополнительная информация
                </div>
                <div class="main-item__description-descripton__desc">
                    <div class="tabl-item active"><div  class="ti">Высота </div><div class="inf">{{ product.height }}</div></div>
                    <div class="tabl-item"><div class="ti">Покрытие </div><div class= "inf">{{ product.coverage }}</div></div>
                     <div class="tabl-item active"><div class="ti">Материал</div><div class="inf">{{ product.matherial }}</div></div>
                    
                </div>
                <div class="main-item__description-descripton__tags">
                    <div class="tag">Ваза тег</div><div class="tag">Вазатег поюольше</div><div class="tag">Ваза</div><div class="tag">Ваза</div><div class="tag">Ваза</div><div class="tag">Ваза</div><div class="tag">Ваза</div><div class="tag">Ваза</div><div class="tag">Ваза</div><div class="tag">Ваза</div><div class="tag">Ваза</div><div class="tag">Ваза</div><div class="tag">Ваза</div><div class="tag">Ваза</div><div class="tag">Ваза</div><div class="tag">Ваза</div><div class="tag">Ваза</div><div class="tag">Ваза</div><div class="tag">Ваза</div><div class="tag">Ваза</div><div class="tag">Ваза</div><div class="tag">Ваза</div><div class="tag">Ваза</div><div class="tag">Ваза</div><div class="tag">Ваза</div>
                </div>
            </div>
        </div>
    </div>
    <div class="catalog1">
                <div class="catalog__title">Похожие товары</div>
                
                <div class="catalog__wrapper">
                   {% for i in products1 %}
                    {% if i.new == True and i.hit == False %}
                    <div class="item new">
                       <a href="{% url 'shop:product_detail' i.pk i.slug  %}">
                        <div class="item__img"><img src="{{ i.images.first.image.url }}" alt=""></div>
                        <div class="item__description">{{ i.name }}</div>
                        <div class="item__price">{{ i.price|intcomma }} ₽</div>
                        </a>
                        <div class="item__btns">
                            <div class="btn__wrapper" onclick="document.getElementById('addForm{{i.pk}}').submit()">В корзину</div>
                            <div class="counter">
                                <div class="minus" id="{{i.pk}}">-</div>
                                <div class="numb{{i.pk}}"id="">1</div>
                                <div class="plus" id="{{i.pk}}">+</div>
                            </div>
                            <form action="{% url 'cart:cart_add' %}" method="Get" id='addForm{{i.pk}}'>
                                <input type="hidden" value="{{ i.pk }}" name="product_id">
                                <input type="hidden" value="1" id="quantity{{i.pk}}" name="quantity">
                            </form>
                        </div>
                    </div>
                    {% elif i.hit == True and i.new == False %}
                    <div class="item hit">
                       <a href="{% url 'shop:product_detail' i.pk i.slug  %}">
                        <div class="item__img"><img src="{{ i.images.first.image.url }}" alt=""></div>
                        <div class="item__description">{{ i.name }}</div>
                        <div class="item__price">{{ i.price|intcomma }} ₽</div>
                        </a>
                        <div class="item__btns">
                            <div class="btn__wrapper" onclick="document.getElementById('addForm{{i.pk}}').submit()">В корзину</div>
                            <div class="counter">
                                <div class="minus" id="{{i.pk}}">-</div>
                                <div class="numb{{i.pk}}"id="">1</div>
                                <div class="plus" id="{{i.pk}}">+</div>
                            </div>
                            <form action="{% url 'cart:cart_add' %}" method="Get" id='addForm{{i.pk}}'>
                                <input type="hidden" value="{{ i.pk }}" name="product_id">
                                <input type="hidden" value="1" id="quantity{{i.pk}}" name="quantity">
                            </form>
                        </div>
                    </div>
                    {% elif i.hit == True and i.new == True %}
                    <div class="item newhit">
                       <a href="{% url 'shop:product_detail' i.pk i.slug  %}">
                        <div class="item__img"><img src="{{ i.images.first.image.url }}" alt=""></div>
                        <div class="item__description">{{ i.name }}</div>
                        <div class="item__price">{{ i.price|intcomma }} ₽</div>
                        </a>
                        <div class="item__btns">
                            <div class="btn__wrapper" onclick="document.getElementById('addForm{{i.pk}}').submit()">В корзину</div>
                            <div class="counter">
                                <div class="minus" id="{{i.pk}}">-</div>
                                <div class="numb{{i.pk}}"id="">1</div>
                                <div class="plus" id="{{i.pk}}">+</div>
                            </div>
                            <form action="{% url 'cart:cart_add' %}" method="Get" id='addForm{{i.pk}}'>
                                <input type="hidden" value="{{ i.pk }}" name="product_id">
                                <input type="hidden" value="1" id="quantity{{i.pk}}" name="quantity">
                            </form>
                        </div>
                    </div>
                    {% else %}
                    <div class="item ">
                       <a href="{% url 'shop:product_detail' i.pk i.slug  %}">
                        <div class="item__img"><img src="{{ i.images.first.image.url }}" alt=""></div>
                        <div class="item__description">{{ i.name }}</div>
                        <div class="item__price">{{ i.price|intcomma }} ₽</div>
                        </a>
                        <div class="item__btns">
                            <div class="btn__wrapper" onclick="document.getElementById('addForm{{i.pk}}').submit()">В корзину</div>
                            <div class="counter">
                                <div class="minus" id="{{i.pk}}">-</div>
                                <div class="numb{{i.pk}}"id="">1</div>
                                <div class="plus" id="{{i.pk}}">+</div>
                            </div>
                            <form action="{% url 'cart:cart_add' %}" method="Get" id='addForm{{i.pk}}'>
                                <input type="hidden" value="{{ i.pk }}" name="product_id">
                                <input type="hidden" value="1" id="quantity{{i.pk}}" name="quantity">
                            </form>
                        </div>
                    </div>
                    {% endif %}

                    {% endfor %}
                    
                </div>
            </div>
            <div class="catalog1">
                <div class="catalog__title">Возможно вас также заинтересует</div>
                
                <div class="catalog__wrapper">
                   {% for i in products2 %}
                    {% if i.new == True and i.hit == False %}
                    <div class="item new">
                       <a href="{% url 'shop:product_detail' i.pk i.slug  %}">
                        <div class="item__img"><img src="{{ i.images.first.image.url }}" alt=""></div>
                        <div class="item__description">{{ i.name }}</div>
                        <div class="item__price">{{ i.price|intcomma }} ₽</div>
                        </a>
                        <div class="item__btns">
                            <div class="btn__wrapper" onclick="document.getElementById('addForm{{i.pk}}').submit()">В корзину</div>
                            <div class="counter">
                                <div class="minus" id="{{i.pk}}">-</div>
                                <div class="numb{{i.pk}}"id="">1</div>
                                <div class="plus" id="{{i.pk}}">+</div>
                            </div>
                            <form action="{% url 'cart:cart_add' %}" method="Get" id='addForm{{i.pk}}'>
                                <input type="hidden" value="{{ i.pk }}" name="product_id">
                                <input type="hidden" value="1" id="quantity{{i.pk}}" name="quantity">
                            </form>
                        </div>
                    </div>
                    {% elif i.hit == True and i.new == False %}
                    <div class="item hit">
                       <a href="{% url 'shop:product_detail' i.pk i.slug  %}">
                        <div class="item__img"><img src="{{ i.images.first.image.url }}" alt=""></div>
                        <div class="item__description">{{ i.name }}</div>
                        <div class="item__price">{{ i.price|intcomma }} ₽</div>
                        </a>
                        <div class="item__btns">
                            <div class="btn__wrapper" onclick="document.getElementById('addForm{{i.pk}}').submit()">В корзину</div>
                            <div class="counter">
                                <div class="minus" id="{{i.pk}}">-</div>
                                <div class="numb{{i.pk}}"id="">1</div>
                                <div class="plus" id="{{i.pk}}">+</div>
                            </div>
                            <form action="{% url 'cart:cart_add' %}" method="Get" id='addForm{{i.pk}}'>
                                <input type="hidden" value="{{ i.pk }}" name="product_id">
                                <input type="hidden" value="1" id="quantity{{i.pk}}" name="quantity">
                            </form>
                        </div>
                    </div>
                    {% elif i.hit == True and i.new == True %}
                    <div class="item newhit">
                       <a href="{% url 'shop:product_detail' i.pk i.slug  %}">
                        <div class="item__img"><img src="{{ i.images.first.image.url }}" alt=""></div>
                        <div class="item__description">{{ i.name }}</div>
                        <div class="item__price">{{ i.price|intcomma }} ₽</div>
                        </a>
                        <div class="item__btns">
                            <div class="btn__wrapper" onclick="document.getElementById('addForm{{i.pk}}').submit()">В корзину</div>
                            <div class="counter">
                                <div class="minus" id="{{i.pk}}">-</div>
                                <div class="numb{{i.pk}}"id="">1</div>
                                <div class="plus" id="{{i.pk}}">+</div>
                            </div>
                            <form action="{% url 'cart:cart_add' %}" method="Get" id='addForm{{i.pk}}'>
                                <input type="hidden" value="{{ i.pk }}" name="product_id">
                                <input type="hidden" value="1" id="quantity{{i.pk}}" name="quantity">
                            </form>
                        </div>
                    </div>
                    {% else %}
                    <div class="item ">
                       <a href="{% url 'shop:product_detail' i.pk i.slug  %}">
                        <div class="item__img"><img src="{{ i.images.first.image.url }}" alt=""></div>
                        <div class="item__description">{{ i.name }}</div>
                        <div class="item__price">{{ i.price|intcomma }} ₽</div>
                        </a>
                        <div class="item__btns">
                            <div class="btn__wrapper" onclick="document.getElementById('addForm{{i.pk}}').submit()">В корзину</div>
                            <div class="counter">
                                <div class="minus" id="{{i.pk}}">-</div>
                                <div class="numb{{i.pk}}"id="">1</div>
                                <div class="plus" id="{{i.pk}}">+</div>
                            </div>
                            <form action="{% url 'cart:cart_add' %}" method="Get" id='addForm{{i.pk}}'>
                                <input type="hidden" value="{{ i.pk }}" name="product_id">
                                <input type="hidden" value="1" id="quantity{{i.pk}}" name="quantity">
                            </form>
                        </div>
                    </div>
                    {% endif %}

                    {% endfor %}
                    
                </div>
            </div>
<script src="{% static 'lightbox2-dev/src/js/lightbox.js' %}"></script>
<script src="{% static 'detail.js' %}"></script>

{% endblock %}
