.container{
	margin-left: 15%;
	margin-right: 15%;
}
.cart-title{
	font-size: 1.5vw;
	padding-top: 3vw;
	font-weight: bold;
}
.tabl{
	padding-top:1vw;
	display: flex;
	.tabl_second-btn{
		.wrapper{
			width: 70%;
			margin-top: 1vw;
			&:hover{
          cursor: pointer;
      }
//                display: flex;
//                align-self: center;
        background-color: #86C1DF;
        font-weight: bold;
        color: white;
        text-align: center;
        font-size: 1.1vw;
        padding-bottom: 0.7vw;
        padding-top: 0.7vw;
        border-radius: 4vw;
        box-shadow:         0px 3px 9px 0px rgba(165, 156, 159, 0.58);
		}
	}
	.tabl_second{
		max-height: 14vw;
		margin-left: 3%;
		background-color: white;
		border-radius: .5vw;
		box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
		width:25%;
		padding:1vw;
		padding-left:2vw;
		padding-right: 2vw;
		.tabl_second-title{
			font-weight: bold;
			font-size: 1vw;
			margin-top: 1vw;
		}
		.tabl_second-sum{
			margin-top: 2vw;
			display: flex;
			font-size: 1.1vw;
			padding-bottom: 1vw;
			border-bottom: 1px solid rgba(0, 0, 0, 0.1);
			.tabl_second-sum-title{
				font-weight: bold;
				width: 50%;
			}
			.tabl_second-sum-desc{
				font-family: "Lato";
			}
		}
		.tabl_second-all{
			margin-top: 1vw;
			display: flex;
			font-size: 1.1vw;
			font-weight: bold;
			.tabl_second-sum-desc{
				font-family: "LatoBold";
			}
			.tabl_second-sum-title{
				font-weight: bold;
				width: 50%;
			}
		}
	}
	.tabl_first{padding:1vw;
		padding-left:2vw;
		padding-right: 2vw;
		.tabl_first-body{
			.tabl_first-body-item{
				.item-titlle{
					display: none;
				}
			}
		}
		width:65%;
		background-color: white;
		box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.1);
		border-radius: .5vw;
		.tabl_first-btns{
			display: flex;
			justify-content: space-between;
			.btn-cleen{
				.wrapper{
					margin-top: 1vw;
					&:hover{
		                    cursor: pointer;
		                }
		                border: .1vw solid #86C1DF;
		                font-weight: bold;
		                color: white;
		                text-align: center;
		                font-size: 1.1vw;
		                padding-left: 1vw;
		                padding-right: 1vw;
		                padding-bottom: 0.7vw;
		                padding-top: 0.7vw;
		                color: #86C1DF;
		                border-radius: 4vw;
		                box-shadow:         0px 3px 9px 0px rgba(165, 156, 159, 0.58);
				}
			}
			.btn-continue{
				.wrapper{
					// width: 70%;
					margin-top: 1vw;
					&:hover{
		                    cursor: pointer;
		                }
		//                display: flex;
		//                align-self: center;
		                background-color: #86C1DF;
		                font-weight: bold;
		                color: white;
		                text-align: center;
		                font-size: 1.1vw;
		                padding-left: 1vw;
		                padding-right: 1vw;
		                padding-bottom: 0.7vw;
		                padding-top: 0.7vw;
		                border-radius: 4vw;
		                box-shadow:         0px 3px 9px 0px rgba(165, 156, 159, 0.58);
				}
			}

		}
		.tabl_first-title{
			display: flex;
			font-weight: bold;
			font-size: 1vw;
			margin-bottom: 1vw;
			margin-top: 1vw;
			.f{
				width:40%;
			}.s{
				width: 20%;
			}.t{
				width: 20%;
			}.fo{
				width: 20%;
			}
		}
		.tabl_first-body{
			.tabl_first-body-item{
				.item-del{
					position: absolute;
					margin-top: -4vw;
					margin-left: 40vw;
					img{
						width: 1vw;
					}
				}
				margin-bottom: 1vw;
				border:1px solid rgba(0, 0, 0, 0.1);
				border-radius: 1vw;
				padding-top: 1vw;
				padding-bottom: 1vw;
				display: flex;
				align-items: center;
				input{
					font-size: 0.8vw;
				}
				select{
					font-size: 0.8vw;
					option{
						font-size: 1vw;
					}
				}
				.item-col{
					width: 20%;
					font-size: 1.1vw;
				}
				.item-price{
					width: 20%;
					font-size: 1.2vw;
					font-family: "Lato";
				}
				.item-priceall{
					font-family: "LatoBold";
					font-size: 1.2vw;
				}
				.item-one{
					width: 40%;
					display: flex;
					align-items: center;
					.item-title{
						font-weight: bold;
						font-size: 1vw;
					}
					.dellit{
						display: none;
					}
					.item-img{
						width: 40%;
						img{
							width: 80%;
						}
					}
				}

			}
		}
	}
}
h2{
	font-size: 2vw;
}
table{
	width: 100%;
	thead{
		width: 100%;
		margin-bottom: 1vw;
		th{
			text-align: left;
			font-size: 1.2vw;
			margin-bottom: 1vw;
		}
	}
	tbody{
		tr{
			// height: 5vw;
			margin-bottom: 1vw;
			margin-top: 1vw;
			th{
				text-align: left;
				// width: 10%;
				img{
					width: 10vw;
					height: auto;
				}
			}
			td{
				font-size: 1vw;
				.change{
					font-size: 1vw;
				}
				input{
					font-size: 1vw;
				}
				select{
					font-size: 1vw;
					option{
						font-size: 1vw;
					}
				}
			}
		}
	}
}
.text-right{
	margin-top: 3vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	a{
		font-size: 1.5vw;
		background-color:#86C1DF;
		color: white;
		padding-left: 1vw;
	    padding-right: 1vw;
	    padding-top: 0.5vw;
	    padding-bottom: 0.5vw;
	    border-radius: 1.5vw;

	}
}

.del{
	a{
		color: red;
	}
}

@media only screen and (max-device-width: 480px) {
	.container{
		margin-left: 5%;
		margin-right: 5%;
	}
	.cart-title{
		font-size: 4vw;
		text-align: center;
		padding-top: 5vw;
		margin-bottom: 2vw;
	}
	.tabl{
			display: block;
			.tabl_second{
				padding: 3vw;
				width: 87%;
				border: 1px solid rgba(0, 0, 0, 0.1);
				border-radius: 2vw;
				max-height: 50vw;
				.tabl_second-title{
					font-size: 5vw;
					margin-bottom: 6vw;
				}
				.tabl_second-btn{
					.wrapper{
						padding-top: 1vw;
						padding-bottom: 1vw;
						font-size: 4vw;
					}
				}
				.tabl_second-sum{
					font-size: 4vw;
				}
				.tabl_second-all{
					font-size: 4vw;
					margin-bottom: 4vw;

				}
			}
			.tabl_first{
				.tabl_first-btns{
					margin-top: 3vw;
					margin-bottom: 3vw;
					.btn-continue{
						.wrapper{
							padding:1.5vw;
							padding-left: 3vw;
							padding-right: 3vw;
							font-size: 3.5vw;
						}
					}
					.btn-cleen{
						.wrapper{
							padding:1.5vw;
							padding-left: 3vw;
							padding-right: 3vw;
							font-size: 3.5vw;

						}
					}
				}
				background: none;
				box-shadow: none;
				margin-bottom: 2vw;
				width: 95%;
				margin-right: 0px;

				.tabl_first-title{
					display: none;
				}
				.tabl_first-body{
					background: none;
					.tabl_first-body-item{
						padding: 4vw;
						border-radius:2vw;
						display: block;
						background: white;
						.item-col{
							margin-top: 2vw;
							margin-bottom: 2vw;
							width: 100%;
							display: flex;
							align-items: center;
							justify-content: space-between;
							font-size: 3vw;
							input{
								font-size: 3vw;
							}
							select{
								font-size: 3vw;
								option{
									font-size: 3vw;
								}
							}
						}
						.item-price{
							width: 100%;
							display: flex;
							justify-content: space-between;
						}
						.item-priceall{
							display: flex;
							justify-content: space-between;
						}
						.item-titlle{
							display: block;
							font-size: 3vw;
							font-weight: bolder;
							font-family: 'Raleway'
						}
						.item-desc{
							font-size: 3vw;

						}

						.item-one{
							margin-bottom: 3vw;
							width: 100%;
							align-items: flex-start;
							.item-img{
								width: 30%;
								img{
									width: 90%;
								}
							}
							.dellit{
								display: block;
								font-size: 3vw;
								margin-top: 2vw;
								font-weight: normal;
								a{color:red;}

							}
							.item-title{
								margin-top:2vw;
								font-size: 5vw;
							}
						}
					}
				}
			}
		}
}
