.container{
	margin-left: 15%;
	margin-right: 15%;
}
table{
	width: 100%;
	thead{
		width: 100%;
		th{
			text-align: left;
			font-size: 1.2vw;
			margin-right: 1vw; 
		}
	}
	tbody{
		tr{
			// padding-bottom: 1vw;
			th{
				text-align: left;
				// width: 10%;
				img{
					max-width: 15vw;
					height: auto;
				}
			}
			td{
				font-size: 1vw;
			}
		}
	}
}
.text-right{
	margin-top: 3vw;
	display: flex;
	justify-content: space-between;
	align-items: center;
	a{
		font-size: 1.5vw;
		background-color:#86C1DF;
		color: white;
		padding-left: 1vw;
	    padding-right: 1vw;
	    padding-top: 0.5vw;
	    padding-bottom: 0.5vw;
	    border-radius: 1.5vw;

	}
}