.main-item {
  padding-left: 15%;
  padding-right: 15%;
  display: flex;
  padding-top: 3vw;
}
.main-item .main-item__img {
  width: 50%;
  margin-right: 3%;
}
.main-item .main-item__description {
  width: 47%;
}
.main-item .main-item__description .main-item__description-title {
  font-size: 2vw;
  font-weight: bold;
  color: #656565;
  margin-bottom: 0.5vw;
}
.main-item .main-item__description .main-item__description-description {
  border-top: 0.2vw solid #E8E8E8;
  margin-top: 2vw;
  padding-top: 1vw;
  font-size: 1vw;
  color: #656565;
}
.main-item .main-item__description .main-item__description-description .main-item__description-description__title {
  color: #656565;
  font-weight: bold;
  font-size: 1.3vw;
  margin-bottom: 0.7vw;
}
.main-item .main-item__description .main-item__description-description .main-item__description-descripton__desc .active {
  background-color: rgba(0, 0, 0, 0.02);
}
.main-item .main-item__description .main-item__description-description .main-item__description-descripton__desc .tabl-item {
  font-size: 1.1vw;
  padding: 1vw;
  display: flex;
}
.main-item .main-item__description .main-item__description-description .main-item__description-descripton__desc .tabl-item .ti {
  width: 50%;
  font-weight: bolder;
}
.main-item .main-item__description .main-item__description-description .main-item__description-descripton__tags {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2vw;
}
.main-item .main-item__description .main-item__description-description .main-item__description-descripton__tags .tag {
  border: 0.5px solid #86C1DF;
  padding: 0.2vw;
  padding-left: 0.7vw;
  padding-right: 0.7vw;
  border-radius: 1vw;
  margin: 0.2vw;
}
.main-item .main-item__description .main-item__description-description .main-item__description-descripton__tags .tag:hover {
  color: white;
  background-color: #86C1DF;
  cursor: pointer;
  transition: 0.2s;
}
.main-item .main-item__description .main-item__description-description .main-item__description-descripton__tags .inf {
  font-family: "Lato";
}
.main-item .main-item__description .main-item__description-btn {
  width: 53%;
  margin-top: 1vw;
}
.main-item .main-item__description .main-item__description-btn .btn__wrapper {
  background-color: #86C1DF;
  font-weight: bold;
  color: white;
  text-align: center;
  font-size: 1.5vw;
  padding-bottom: 0.7vw;
  padding-top: 0.7vw;
  border-radius: 4vw;
  box-shadow: 0px 3px 9px 0px rgba(165, 156, 159, 0.58);
}
.main-item .main-item__description .main-item__description-btn .btn__wrapper:hover {
  cursor: pointer;
}
.main-item .main-item__description .main-item__description-price {
  display: flex;
  width: 49%;
  align-items: center;
  justify-content: space-between;
}
.main-item .main-item__description .main-item__description-price .main-item__description-price__price {
  font-family: "Lato";
  font-weight: bold;
  font-size: 1.8vw;
  color: #4871A4;
}
.main-item .main-item__description .main-item__description-price .main-item__description-price__conter {
  display: flex;
  align-items: center;
  border: 0.15vw solid #86C1DF;
  border-radius: 3vw;
  padding-left: 1vw;
  padding-right: 1vw;
}
.main-item .main-item__description .main-item__description-price .main-item__description-price__conter .count {
  color: #4871A4;
  font-size: 1.8vw;
  margin-left: 1vw;
  margin-right: 1vw;
}
.main-item .main-item__description .main-item__description-price .main-item__description-price__conter .plus {
  color: #86C1DF;
  font-size: 2vw;
}
.main-item .main-item__description .main-item__description-price .main-item__description-price__conter .minus {
  color: #86C1DF;
  font-size: 2vw;
}
.main-item .main-item__description .main-item__description-dop {
  width: 100%;
  display: flex;
  margin-bottom: 4vw;
  justify-content: space-between;
}
.main-item .main-item__description .main-item__description-dop .main-item__description-dop__item span {
  font-family: "Raleway";
  font-weight: bold;
  color: #656565;
  font-size: 1vw;
}
.main-item .main-item__description .main-item__description-dop .main-item__description-dop__item .art {
  font-family: "Lato";
  font-weight: 500;
  display: inline-block;
  margin-left: 0.5vw;
}

#sync1 .item {
  border: 0.1vw solid #E8E8E8;
  border-radius: 1vw;
  height: 40vw;
  margin: 5px;
  color: #FFF;
  text-align: center;
}
#sync1 .item img {
  object-position: center;
  object-fit: cover;
  width: 100%;
  height: 40vw;
}

#sync2 .item {
  padding: 10px 0px;
  margin: 5px;
  color: #FFF;
  max-height: 10vw;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  cursor: pointer;
}
#sync2 .item h1 {
  font-size: 18px;
}
.owl-theme .owl-nav {
  /*default owl-theme theme reset .disabled:hover links */
}
.owl-theme .owl-nav [class*=owl-] {
  transition: all 0.3s ease;
}
#sync1.owl-theme {
  position: relative;
}
#sync1.owl-theme .owl-next, #sync1.owl-theme .owl-prev {
  width: 22px;
  height: 40px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
}
#sync1.owl-theme .owl-prev {
  left: 10px;
}
#sync1.owl-theme .owl-next {
  right: 10px;
}

@media only screen and (max-device-width: 480px) {
  .main-item {
    display: block;
    padding-left: 5%;
    padding-right: 5%;
  }
  .main-item .main-item__img {
    width: 100%;
    margin-right: 0px;
  }
  .main-item .main-item__description {
    width: 100%;
  }
  .main-item .main-item__description .main-item__description-title {
    font-size: 5vw;
    margin-top: 4vw;
    margin-bottom: 3vw;
    text-align: center;
  }
  .main-item .main-item__description .main-item__description-price {
    width: 100%;
    margin-bottom: 4vw;
  }
  .main-item .main-item__description .main-item__description-price .main-item__description-price__price {
    font-size: 5vw;
  }
  .main-item .main-item__description .main-item__description-price .main-item__description-price__conter {
    border: none;
    font-size: 3vw;
    padding-left: 2vw;
    padding-right: 2vw;
  }
  .main-item .main-item__description .main-item__description-price .main-item__description-price__conter .count {
    font-size: 6vw;
    margin-left: 3vw;
    margin-right: 3vw;
  }
  .main-item .main-item__description .main-item__description-price .main-item__description-price__conter .minus {
    font-size: 6vw;
  }
  .main-item .main-item__description .main-item__description-price .main-item__description-price__conter .plus {
    font-size: 6vw;
    margin-top: 0.5vw;
  }
  .main-item .main-item__description .main-item__description-btn {
    width: 100%;
  }
  .main-item .main-item__description .main-item__description-btn .btn__wrapper {
    font-size: 4vw;
    padding-top: 2vw;
    padding-bottom: 2vw;
  }
  .main-item .main-item__description .main-item__description-dop {
    margin-top: 2vw;
  }
  .main-item .main-item__description .main-item__description-dop .main-item__description-dop__item span {
    font-size: 3.2vw;
  }
  .main-item .main-item__description .main-item__description-dop .main-item__description-dop__item div {
    font-size: 3.2vw;
    font-family: "Raleway";
  }
  .main-item .main-item__description .main-item__description-dop .main-item__description-dop__item a {
    font-size: 3.2vw;
    font-family: "Raleway";
  }
  .main-item .main-item__description .main-item__description-description {
    margin-top: 7vw;
    padding-top: 3vw;
  }
  .main-item .main-item__description .main-item__description-description .main-item__description-description__title {
    font-size: 4vw;
  }
  .main-item .main-item__description .main-item__description-description .main-item__description-descripton__desc {
    font-size: 3vw;
  }

  #sync1 {
    height: 70vw;
  }
  #sync1 .item {
    height: 100%;
  }
  #sync1 .item img {
    height: 70vw;
  }
  #sync1 .owl-stage-outer {
    height: 70vw;
  }
  #sync1 .owl-height {
    height: 70vw;
  }
  #sync1 .owl-item {
    height: 70vw;
  }
}

/*# sourceMappingURL=item.css.map */
